[2020-02-11 08:12] bsivalingam commented on #282
@Sankalpk98 can you please create a support ticket at https://help.developer.intuit.com/s/ details on what entity you are looking to get this information from? We can track issues on salesforce and you can get a quicker response.

[2020-02-11 08:17] bsivalingam commented on #281
Following up on SF#00092238

[2020-02-11 08:18] #281 closed

[2020-02-11 08:19] bsivalingam commented on #274
@Abhilash-k-p Can you please update your SDK to use the latest vesion?

[2020-02-11 21:35] bsivalingam commented on #279
@Er-Kalpesh I can't tell for sure what is causing this error without seeing the payload you are sending through. For API errors, can you please create a support ticket at https://help.developer.intuit.com/s/ ? Can you please also include the intuit_tid of the error response?

[2020-02-11 21:35] #279 closed

[2020-02-11 21:36] #282 closed

[2020-02-11 21:59] bsivalingam commented on #278
@chethankswamy We do not have a Facade for PaymentMethod at the moment. I have added it to our backlog to add one(ticket reference IDG-3446). If you like you can contribute to the repo, we will review the code and merge it.

[2020-02-11 21:59] #278 closed

[2020-02-11 22:15] bsivalingam commented on #276
@evancrose & @tsoslow The API was updated to not return the invoiceLink by default, we now require to pass a get parameter. We have a backlog story to update the SDK, it has not been prioritized yet, please feel free to create a PR and we will merge it in.

[2020-02-11 22:15] #276 closed

[2020-02-12 01:59] bsivalingam commented on #273
No, we do not have an official SDK for QBD at this time.

[2020-02-12 01:59] #273 closed

[2020-02-12 02:03] bsivalingam commented on #267
Fair. Since it is not causing any issues for now, we do not plan on fixing it.

[2020-02-12 02:03] #267 closed

[2020-02-12 05:16] Er-Kalpesh commented on #279
@bsivalingam I have created ticket there
https://help.developer.intuit.com/s/question/0D54R00006usaZNSAY/i-am-creating-purchase-order-using-guidelineshttpsdeveloperintuitcomappdeveloperqbodocsapiaccountingallentitiespurchaseordercreateapurchaseorderstill-getting-error-business-validation-error-please-enter-a-valid-email-addres?t=1580811040023

but I am using sdk and its issue in sdk
If i use api i

[2020-02-12 05:23] Er-Kalpesh commented on #279
[code]

here is the my code

[2020-02-12 09:05] igorfialko commented on #267
@bsivalingam
It does indeed. Sometimes the array's property is not defined and causes a notice. We use this a lot and our log gets full of it. As you can see further in the code similar array accesses are guarded with **isset**. That line looks like dead code to me. Is there any particular reason to spam notices by the code that does nothing?

[2020-02-13 00:18] evancrose commented on #276
Done:

https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/283

[2020-02-19 12:33] siimtalts opened #287 "JSON request and response support for QUERY action"
Currently when setting `SerializationFormat::Json` as the response and request format, the API still returns XML responses.

Setting formats like this:
[code]

When running `\QuickBooksOnline\API\DataService\DataService::Query` the http header is set to application/text and a POST curl request is done.

Or have I somehow misconfigured the client?

[2020-02-20 06:09] bsivalingam commented on #249
Our team has decided to just work on minor version updates and schema changes for this SDK. We will only be fixing breaking changes. That said, I would love to upgrade the XSD2PHP package to the most current version in the next release, but no promises.

[2020-02-20 06:11] bsivalingam commented on #254
Thanks for closing the loop on this @robertmarney.

[2020-02-20 06:11] #254 closed

[2020-02-20 08:03] bsivalingam commented on #265
@kaeverens can you please create a support ticket here: https://help.developer.intuit.com/s/

[2020-02-20 08:03] #265 closed

[2020-02-20 08:45] siimtalts opened #288 "Illegal chracters inside response will cause fatal error in XmlObjectSerializer.php"
When fetching a payments via API the response has illegal characters:
[code]

Notice the weird symbol in `nameonacct`. This is illegal characer and results in an fatal error thrown by `simplexml_load_string` in `XmlObjectSerializer`. I know this is because legacy data, as I wasn't able to reproduce this with new entries in QB, but it needs to be fixed, because we are dealing with importing older d

[2020-02-21 01:16] KelseySheely commented on #274
I am receiving this error on the 5.3.4 branch.

[2020-02-21 04:25] bsivalingam commented on #274
That is super odd, can you please share the request? I am on the latest branch and I don't see the error. Can you please check your code in vendor directory to see if you have this line of code: https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/Data/IPPCustomer.php#L525 ?

[2020-02-21 05:16] KelseySheely commented on #274
Yes, I had found that the library does in fact have the IsProject property on the IPPCustomer class. I'm thinking it must be conflicting with a completely different ancient forked version of the SDK that is on the server which also has an IPPCustomer class. Although that's strange because it is namespaced totally differently. I ran out of time this afternoon, but I'll debug some more tomorrow and

[2020-02-21 16:41] ajkreuer commented on #279
It looks like there's 3 valid values for Email status of the purchase order.

**Valid values:** `NotSet`, `NeedToSend`, `EmailSent`

[Reference](https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/purchaseorder#full-update-a-purchase-order)

[2020-02-21 17:09] KelseySheely commented on #274
Removing the other SDK did fix the problem.

This is a problem because the XML Serializer prioritizes the non-namespaced IPP class rather than the namespaced class. I'm not sure if there is a reason for that, but it seems to me it shouldn't ever be looking for a class outside of the namespace:

The issue is in src/Core/Http/Serialization/XmlObjectSerializer.php in the PhpObjFromXml method starting

[2020-02-25 11:22] Er-Kalpesh commented on #279
@ajkreuer  thanks that works

[2020-03-02 18:46] bsivalingam commented on #288
@siimtalts Please send in a PR if you are interested to fix it, I will have it reviewed and merged.

[2020-03-06 00:00] bsivalingam commented on #274
@KelseySheely calling the issue closed, you can send a PR with the changes, we can evaluate and merge. Thanks!

[2020-03-06 00:26] bsivalingam commented on #264
A PR is welcome!

[2020-03-06 00:39] bsivalingam commented on #287
`$dataService->useJson()` should do it for you, but I ran a test and it failed. I have couple of PRs to get this fixed, I'll update after the release is out.

[2020-03-06 00:41] bsivalingam commented on #275
@rogerd330 Which version of the SDK are you using?

[2020-03-06 09:26] bsivalingam commented on #256
A PR with the change is welcome!

[2020-03-09 22:02] behrhartuhin commented on #275
@bsivalingam I was using version 5.3.2 and it is happened to me.

I believe the solution by @rogerd330 above does fix the issue, but potentially breaks other resources that may depend on that class to be loaded. I don't have the time to go through every resource in the API to see if it is used. I ended up forking the library and doing it and it seems to work for my use case.

[2020-03-10 06:39] salasmark opened #293 "Unable to delete Item Category using Active=false or Operation=Delete"
When trying to (soft) delete an Item Category using Active=false, it says:
`The Category Item type does not support soft delete with Active=false; use Operation=Delete to Hard Delete a Category`

So I tried using Operation=Delete by replacing Active=false in the data to be sent.
[code]

But it throws an error:
`Property Operation does not exist`

[2020-03-11 17:31] alexeycarpe opened #294 "http_build_query() depends from php.ini settings"
private function constructRefreshTokenBody($refresh_token) depends from php.ini settings using default parameters

[2020-03-11 21:33] alexeycarpe opened #296 "Logging is not exists for getOAuth2LoginHelper() and CurlHttpClient()"
Add logging logic to these files.

[2020-03-20 23:58] jplevene opened #298 "Found a bug with query (single and batch)"
I have found a bug in the PHP SDK v5.3.5.  I'm running PHP 7.0.21

I have created a QBO PHP connector using my own class. All good. When I do a query for an Account, all is good. However if I do a query for a Customer, Vendor, TaxCode or TaxRate I get empty data (batch or single query). Code as follows:

[code]
So in the first select statement for example, if I change "TaxCode" to "Account", all g

[2020-03-21 19:50] jplevene commented on #298
Found the issue, it was how QBO setup a sandbox account

[2020-03-21 19:50] #298 closed

[2020-03-22 17:19] jasminder opened #299 "Fetch GST Overdue"
I have tried general ledger and other reports available with SDK but not response doesnt include "this financial quarter to date" GST overdue stats. Please guide.

[2020-03-25 18:12] bsivalingam commented on #299
@jasminder Can you please specify which report you are expecting to see the financial quarter to date payload? Here is the list of report entities and the result payload examples: https://developer.intuit.com/app/developer/qbo/docs/api/accounting/report-entities/accountlistdetail. If there is a report you are able to fetch from the UI and not via the API please let me know the specifics. Thanks!

[2020-03-25 21:15] #64 closed

[2020-03-26 20:58] bsivalingam commented on #293
@salasmark Could you please tell me which API endpoint are you hitting for this request?

[2020-03-26 21:00] bsivalingam commented on #257
@javabudd Thanks for bringing this to my attention. I will add a story to my the backlong, meanwhile if you have a fix, please send a PR.

[2020-04-01 14:53] PeterCat12 opened #304 "\QuickBooksOnline\API\DataService\Batch::AddEntity Doesn't support passing `optionsData`"
In order to batch `void` operations the `\QuickBooksOnline\API\Data\IPPBatchItemRequest` class requires it's `$optionsData` property to be set to `void` per the API documentation:

https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/batch#sample-batch-request

Unfortunately the `AddEntity` method doesn't support passing in any `optionsData`. Seems like an oversight to m

[2020-04-01 16:18] perrystone1 opened #305 "Business Validation Error - Error code: -10600"
When **updating** an Item and setting its **QtyOnHand**, the API returns the error message below.

**[A business validation error has occurred while processing your request
Business Validation Error: It looks like something went wrong on our end. We couldn't adjust the stock starting value of this item. Please try again later. Error code: (-10600) (-10600)]**

Sample code:

$item = $dataService->F

[2020-04-02 19:46] nimisha84 commented on #305
Please enable logs for this issue -
https://developer.intuit.com/app/developer/qbo/docs/develop/sdks-and-samples-collections/php/logging#execution-log

Then, check if you are sending the invStartDate or not? Add your logs here and also, add the intuit-tid from the response header.

[2020-04-02 23:11] bsivalingam commented on #304
@PeterCat12 Thanks for bringing it up. I will create a JIRA to add it in, meanwhile if you are able to send a PR I can add it to the next release too.

[2020-04-06 01:43] javabudd commented on #257
I'll work towards getting a PR this week

[2020-04-07 13:47] PeterCat12 commented on #304
Sure. I'll take a crack at it this weekend. Thanks for the response.

[2020-04-09 19:57] jakesuellentrop opened #306 "ReflectionException: Property Name does not exist. Class: IPPTaxRate"
Trying to add a new TaxRate using the SDK. I'm passing in this array, and I've tried setting the Name statically, as well as leaving it out of the array. Always the same error.

[code]

[2020-04-11 04:33] parthiv2585 opened #307 "Get Error: Attempted to load class "DataService" from namespace "QuickBooksOnline\API\DataService"
We have developed our application in “Symfony 3.4” and install the SDK using the below command.
“composer require quickbooks/v3-php-sdk”

**And get below error:
Attempted to load class "DataService" from namespace "QuickBooksOnline\API\DataService".**

Can you please help to fix this issue ASAP.

Thanks in advance.

[2020-04-16 17:54] hillj17 opened #308 "Getting invalid_grant when attempting to refresh token"
Using the same code that's in the refreshTokenSample.php file, but with my parameters, I'm getting an error:
Refresh OAuth 2 Access token with Refresh Token failed. Body: [{"error_description":"Incorrect or invalid refresh token","error":"invalid_grant"}]

when calling
$accessToken = $OAuth2LoginHelper->refreshToken();

[2020-04-16 18:06] #308 closed

[2020-04-16 18:07] hillj17 commented on #308
I apologize...I had my access token and refresh token saving to the opposite variables.

[2020-04-24 08:45] lovik1468 opened #309 "Error code="610""
Good afternoon, I have such a problem that whatever I hiccups, he gives me only this error
I took a sample CRUD SDK substituted all authorization variables
created several invoices in the sandbox and I want to get them from sdk but I get only an error
What's wrong ???
http://joxi.ru/E2peLgXtaMzyXA
http://joxi.ru/krDq4DGSJzeXXm
relID 4620816365046319180
http://joxi.ru/zANe4VGt6z3oX2
http://joxi.ru/

[2020-04-24 18:13] bsivalingam commented on #307
@parthiv2585 Could you please let us know the version of PHP you are using?

[2020-04-24 18:18] bsivalingam commented on #306
@jakesuellentrop can you please send the complete request and response?

[2020-04-24 18:22] bsivalingam commented on #309
@lovik1468 Can you send me the app details and realmId? It sounds like the invoice Id 22 might not exist.

[2020-04-25 02:42] parthiv2585 commented on #307
Hi,
Thanks for the reply.
I am using PHP version  7.2.

[2020-04-26 07:38] lovik1468 commented on #309
What details are you interested in and where can I get them?
On the screenshots you can see that 22 invoice is and is active
Maybe something is wrong with the settings of the sandbox itself

realmId 4620816365044851490

[2020-04-26 20:10] lovik1468 commented on #309
[00019-Request-1587927294-0.txt](https://github.com/intuit/QuickBooks-V3-PHP-SDK/files/4536385/00019-Request-1587927294-0.txt)
[00020-Response-1587927296-0.txt](https://github.com/intuit/QuickBooks-V3-PHP-SDK/files/4536386/00020-Response-1587927296-0.txt)
[00021-Request-1587929525-0.txt](https://github.com/intuit/QuickBooks-V3-PHP-SDK/files/4536387/00021-Request-1587929525-0.txt)
[00022-Response-1

[2020-04-27 10:28] lovik1468 commented on #309
Update please, documentation as you might have guessed that the invoice id is not a number but a get parameter when you open it for editing!

[2020-04-27 10:28] #309 closed

[2020-05-01 11:55] kkmuffme opened #310 "Allow changing the timeout"
[code]

We'd like to be able to increase the timeout to 30 seconds to avoid these errors if the QBO servers are overloaded & slow to response or when requesting a lot of data.

In Java SDK this can be modified, but in PHP SDK there is no option for it.

Can you please add it, maybe in the style of setMinorVersion (=> setRequestTimeout)?

[2020-05-02 06:48] bsivalingam commented on #310
@kkmuffme that would be a great addition. Thanks for bringing it up, feel free to send in a PR if it is urgent. I will add it to our backlog.

[2020-05-02 09:22] bsivalingam commented on #307
@parthiv2585 do you have the `use QuickBooksOnline\API\DataService\DataService;` in the class/file you are using `DataService` in?

[2020-05-02 09:31] kkmuffme commented on #310
Just to add for reference via: https://developer.intuit.com/app/developer/qbo/docs/develop/sdks-and-samples-collections/java/configuration#default-values

BOTH values need to be customisable, however using a default value of 10 (instead of 0), since we want a default timeout in PHP:
connectionTimeout: 0 (or no value) implies no timeout is set.
requestTimeout: 0 (or no value) implies no timeout is

[2020-05-02 18:39] alexjeen commented on #304
Hi guys,

Check our PR
https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/311

It has this functionality in there.

[2020-05-02 18:42] alexjeen commented on #310
Hi guys,

Also probably fixed in this PR:
https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/311

Currently, the connect timeout was set lower to ten seconds.
On sandboxes this can cause issues.

Now its set to a default of 100 seconds, which is aligned with the non-passing of that parameter in all the functions using it.

[2020-05-04 13:54] PeterCat12 commented on #304
❤️

[2020-05-08 02:28] nicosavini opened #312 "Problems with attached PDF"
Whenever I upload a PDF using the SDK, I get the "Failed to load PDF" when trying to read the file from QBO Online.

My code is as follows
[code]

[2020-05-08 21:53] bsivalingam commented on #312
@nicosavini I am working with the API team on it will get back to you when I hear.

[2020-05-12 06:18] bsivalingam commented on #312
@nicosavini We checked in the S3 bucket the file is corrupted, are you able to double confirm that the PDF is valid?

[2020-05-12 14:48] nicosavini commented on #312
I've tried with different files that I can actually see and all of them had the same issue. I will re-try everything and let you know.

[2020-05-14 05:13] bsivalingam commented on #304
Thanks @alexjeen for sending in your PR. I will merge it in after you have addressed the comments.

[2020-05-14 05:14] #304 closed

[2020-05-14 05:14] bsivalingam commented on #310
@kkmuffme  as @alexjeen mentioned this will be solved for when we merge the PR.

[2020-05-14 05:14] #310 closed

[2020-05-14 05:15] bsivalingam commented on #307
@parthiv2585 since we haven't heard back from you I am closing the issue.

[2020-05-14 05:15] #307 closed

[2020-05-14 05:18] bsivalingam commented on #305
@perrystone1 Can you please let us know if this issue is resolved? Since it is not a SDK issue please create a ticket here: https://help.developer.intuit.com/s/ when you have collected all the information as Nimisha mentioned above. Thanks!

[2020-05-14 05:18] #305 closed

[2020-05-14 18:47] bsivalingam commented on #296
@alexeycarpe As mentioned in the PR, I will take this up in our next sprint to add logging for all failed scenarios and log just the intuit_tid for the success. Closing the issue.

[2020-05-14 18:47] #296 closed

[2020-05-14 18:50] bsivalingam commented on #299
@jasminder If the issue is still not resolved can you please create a support ticket at https://help.developer.intuit.com/s/. Closing the issue since it is not specific to the SDK.

[2020-05-14 18:50] #299 closed

[2020-05-14 18:51] bsivalingam commented on #245
@hyperiums Closing the issue since we are past the migration phase.

[2020-05-14 18:51] #245 closed

[2020-05-14 18:51] alexeycarpe commented on #296
@bsivalingam thank you! Please notify me somehow when it will be released

[2020-05-14 18:53] bsivalingam commented on #296
Will do!

[2020-05-15 00:18] bsivalingam commented on #312
@nicosavini I got a chance to further test this today, seems like there is an issue when the request is sent via the SDK. It works fine when I tried via Postman. I will investigate this further and update here.

[2020-05-15 00:30] nicosavini commented on #312
Thanks a lot for re-testing this issue, and sorry for not answering back before.

[2020-05-16 10:57] perrystone1 commented on #305
This was a bug on Intuit's end. I believe it has been resolved.

[2020-05-17 22:13] Benjaminhu commented on #249
[code]

PHP Manual -> Function Reference -> Cryptography Extensions -> [Mcrypt](https://www.php.net/manual/en/intro.mcrypt.php)

This feature was DEPRECATED in PHP 7.1.0, and REMOVED in PHP 7.2.0.**

[2020-05-21 17:40] matt-d commented on #249
Using SDK V3 on PHP 7.0 I can't seem to make this example work:

https://github.com/IntuitDeveloper/SampleApp-CRUD-PHP/blob/master/CRUD_Examples/Invoice/InvoiceCreate.php

Seems related to the xsd2php library - specificallly this bit:

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/XSD2PHP/src/com/mikebevz/xsd2php/Php2Xml.php#L96

Am I missing something, or is it impossible to pos

[2020-05-21 20:24] bsivalingam commented on #249
@Benjaminhu you should be able to get unblocked if you install mcrypt. Mcrypt has been moved out of PHP yes, but extensions are available. Are you able to try installing it?

@matt-d I have heard from other developers that they didn't have issues using the SDK on PHP 7+. But like I mentioned above we would like to upgrade to more recent XSD2PHP library.

[2020-05-21 20:25] bsivalingam commented on #312
@nicosavini I have identified the issue, and added a PR, I will have it merged in the coming release.

[2020-05-21 20:25] #312 closed

[2020-05-21 20:55] Benjaminhu commented on #249
@bsivalingam I tried again today and we installed it successfully, I deleted it with the previous comment, thanks!

[2020-05-21 22:06] bsivalingam commented on #249
@Benjaminhu Are willing to share the steps you took to fix the issue? It will be helpful for others running into it in the future. Thanks.

[2020-05-21 22:57] Benjaminhu commented on #249
@bsivalingam I'm sorry, it was only me that made the mistake.
I tested several things and wasn’t entirely careful!
I checked the "QuickBooks-V3-PHP-SDK" package **does not contain "mcrypt *" features**.
So I must have had a composer.json condition that caused this.
Please take it as irrelevant! Thanks and sorry.

[2020-05-22 00:35] matt-d commented on #249
@Benjaminhu - thanks for the reply - are you able to make that example code run on PHP 7.0?  Other code seems to work fine, as long as the objects are not nested - as in that example.  I'm able to insert other types of objects and query / fetch them without issue.  The Invoice object requires a Line property, which is an array, which contains an array SalesItemLineDetail, which contains an array I

[2020-05-29 00:48] bsivalingam commented on #306
@jakesuellentrop Is this issue resolved, please let me know.

[2020-05-29 14:44] lukecurtis93 opened #319 "Undefined Variable in Refresh Request"
When attempting to obtain a access token with a refresh token I receive the following error:

[code]

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/Core/OAuth/OAuth2/OAuth2LoginHelper.php#L306

This appears to be the offending line, the most recent PR doesn't appropriately pass this variable to the functions that use it. https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/315/fi

[2020-05-29 15:37] bsivalingam commented on #319
@lukecurtis93 Fixing right now.

[2020-05-29 16:00] lukecurtis93 commented on #319
All good mate really appreciate the speed on this one great stuff cheers!
On 29 May 2020, 16:49 +0100, bsivalingam <notifications@github.com>, wrote:

[2020-05-29 16:16] #319 closed

[2020-05-30 15:59] giannign1 opened #321 "Notice: Undefined variable: requestUri"
Inside https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/Core/OAuth/OAuth2/OAuth2LoginHelper.php
in many functions the variable $requestUri is used but never initialized and i have now a Notice in php7.4

[2020-05-30 16:37] bsivalingam commented on #321
@giannign1 Can you please confirm the version of SDK you are using? It is fixed in 5.3.8.

[2020-05-30 16:47] giannign1 commented on #321
Happy to hear that!
I am not using the last release, you are right on this and i still need to try it.

But i see in the code that the variable $requestUri is still used but never allocated so i think the issue is still there (Notice since php 7.4, Warning Until php7.3.x)

Are you sure it is fixed?

[2020-05-30 16:56] bsivalingam commented on #321
Hmm..I don't see any line of code that uses `$requestUri` but not commented out already. Can you please let me know which line you are referring to?

[2020-05-30 17:01] imvishalchodvadiya commented on #240
I am also facing a same problem  and getting an error {"error":"invalid_grant"}]

[2020-05-30 19:18] giannign1 commented on #321
I'm dumb! Totally!
Shame on me!
Sorry for bothering, i close the issue!

[2020-05-30 19:18] #321 closed

[2020-06-01 04:29] #306 closed

[2020-06-01 04:29] #293 closed

[2020-06-01 04:31] bsivalingam commented on #263
@tone10 Please reopen the issue if you are still encountering this.

[2020-06-01 04:31] #263 closed

[2020-06-02 05:37] mishabachkur opened #324 "Refresh OAuth 2 Access token with Refresh Token failed"
I often get this error - Refresh OAuth 2 Access token with Refresh Token failed

[2020-06-02 19:15] gmariani opened #325 "Typo getClinetName in DataService.php"
Line 352 in DataService.php:

`public function getClinetName(){
       return $this->getClientName();
    }`

[2020-06-02 19:19] bsivalingam commented on #325
Thanks for bringing it up, will have it fixed in the next release.

[2020-06-02 20:21] bsivalingam commented on #325
@gmariani I just went back to the code to check this, it seems like it was never used. Definitely need a code clean up here. That said, there is a method to get `clientName` in L226.

[2020-06-02 20:45] gmariani commented on #325
no problem, was just building my first app with the sdk and ran across that and figured I'd report it. it did say deprecated but figured I'd report it none-the-less. Thanks!

[2020-06-04 22:15] kkmuffme opened #326 "Wrong useragent in v5.3.9"
v5.3.9 still has

[code]

[2020-06-04 22:22] bsivalingam commented on #326
Thanks for catching it.

[2020-06-06 01:24] rogerms opened #328 "refreshAccessTokenWithRefreshToken not working properly"
$newAccessToken = $OAuth2LoginHelper->refreshAccessTokenWithRefreshToken($accessToken->getRefreshToken());
The $newAccessToken doesn't have 'realmID' and because of that, I can't use it to make calls to api.

To be able to use $newAccessToken I need to add realmID manually like this
$newAccessToken ->setRealmID($realmID);
Only then I can use it the new token.
It would be great if you could fix tha

[2020-06-06 01:53] bsivalingam commented on #328
@rogerms Can you please upgrade to the latest SDK? Also, what are the calls you are unable to make without the realmId?

[2020-06-06 01:54] bsivalingam commented on #324
@mishabachkur This error typically occurs when you have an incorrect configuration for clientId, clientSecret etc. Can you please check you have configure the keys accurately?

[2020-06-06 07:24] rogerms commented on #328
I thought version 5.3 was the latest one; what do I need to change in the composer to get it?
I can only receive results from calls made with the original accessToken (from the user login form); after I refresh the token, all calls return null.
for example, here

will be NULL
[code]

Thank you for your help

[2020-06-08 07:57] dlr-delarocha opened #329 "Your Class IPP does not comply with psr-4 autoloading standard."
Hi, currently I have installed your repository whit composer  and receive the title error,   this error is because your class name  and file name are different an other hand have indentation problems in same file.

[2020-06-16 07:19] Benjaminhu opened #330 "Request / Response always logging"
Hi,

Tested with the latest release ([example code](https://gist.github.com/Benjaminhu/be504a99a08943f5c2af2e463f4b2cc3)).

I think the problem is:

[code]

The setupLogger always create **$EnableRequestResponseLogging = TRUE**

[2020-06-19 18:58] bsivalingam commented on #330
@Benjaminhu Good point it should be a flag we pass down to the function. Will update in the next release.

[2020-06-20 22:23] almasaeed2010 opened #333 "Using $this when not in object context"
The static function listed below is using `$this` resulting in an error:

[code]

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/70dbb727bc9caa1cb104b0dc8cd9744fda8a8677/src/Core/Http/Serialization/XmlObjectSerializer.php#L37-L56

[2020-06-23 23:56] stevenmaguire commented on #329
This is, and will continue to be, a problem for mature web applications that use Composer during continuous integration.

[2020-06-24 00:08] levinse opened #334 "DataService Upload results in invalid attachments uploaded, since June 2020"
A recent change seems to have caused the DataService Upload method to upload files with the wrong data/size and an error is displayed in the QBO UI when attempting to load such files. Files uploaded prior to some time in June still display fine in the QBO UI.

See attached screenshots. This is an example of a 21KB PDF that shows up with a size of 1.5KB in the QBO UI and attempting to load it in th

[2020-06-24 00:12] levinse commented on #249
No problems whatsoever with the SDK on PHP 7.3

[2020-06-24 01:17] levinse commented on #334
Resolved. This was the cause: https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/314/commits/f48b24c309a76b2d639c0a7bf82d046e3aea32ca

[2020-06-24 01:17] #334 closed

[2020-06-24 06:20] bsivalingam commented on #249
@matt-d No I do not have an example code for Invoice creation. Are you still blocked?

@levinse And the error is now fixed is that right?

[2020-06-24 06:20] bsivalingam commented on #329
I have a JIRA to update this will do it in our next sprint.

[2020-06-26 14:32] onlinecheckwriter opened #335 "Server is not responding"
Please check out the video....
https://www.loom.com/share/15db54a6b2c54903b0f57b608ef35fe6

[2020-06-26 14:44] onlinecheckwriter commented on #335
is this happening only to us or someone else too?

[2020-06-26 15:02] lcnervick commented on #335
I’ve been having this problem all morning. My error logs are saying there is a timeout waiting for cUrl to get TLS.

[2020-06-26 15:22] fr8train-homebase commented on #335
The problem is that the library is using https://www.howsmyssl.com/a/check to check your TLS version. It's currently down and not responding. I hacked around this by commenting out lines 148-152 in src/Core/HttpClients/CurlHttpClient.php

[2020-06-26 15:58] bsivalingam commented on #335
@onlinecheckwriter @lcnervick @fr8train-homebase What version of the SDK are you on? This was a problem before, we fixed the SDK to not use this a TLS checker. Here is the fix: https://github.com/intuit/QuickBooks-V3-PHP-SDK/commit/91050cbdc0e82e5f6df8bacc40bfe6e1b232a30e#diff-7c7999b6354f6c110c0dd868941595d1 this was as part of release 5.3.5.

[2020-06-26 16:00] bsivalingam commented on #335
@onlinecheckwriter I see that you are running into issues with connecting to the app, I will check with the App Connections team. Can you please share with us your app information?

[2020-06-26 16:33] MrHeart commented on #277
As it stands howsmyssl.com is down causing this library to fail perpetually. Is there any plan to replace howsmyssl.com? Their downtime is getting too much. For hours now, they're still not up

[2020-06-26 16:36] bsivalingam commented on #277
@MrHeart What is the version of SDK you are on? We updated the SDK to not use howsmyssl in the release 5.3.5. Can you please pull the latest version of the SDK?

[2020-06-26 17:29] chadpriddle commented on #335
@fr8train-homebase Thanks for the work around. I got new error after commenting out those 4 lines:
SyncRestHandler.php
Line 213
"throw new ServiceException("Request is not made successful. Response Code:[" . $faultHandler->getHttpStatusCode() . "] with body: [" . $faultHandler->getResponseBody() . "].", $faultHandler->getHttpStatusCode());"

Using the API to post data back to an invoice when I got

[2020-06-26 17:37] onlinecheckwriter commented on #335
what do you want from us : @bsivalingam

We are also using old sdk, we didn't even change sdk

[2020-06-26 17:44] bsivalingam commented on #335
@onlinecheckwriter the issue you are experiencing for connection is different from the what others are referring to. Sorry I jumped the gun there. But if you can share more information from the network tab of the UI that is hung up, we will be able to triage it faster. We haven't had reports on connection error from other apps so we would need specifics for triaging. This could be a browser issue

[2020-06-26 17:54] onlinecheckwriter commented on #335
Let me update the sdk version and try it.

[2020-06-26 23:10] onlinecheckwriter commented on #335
We moved this new SDK . I think it fix the issue

[2020-06-26 23:19] onlinecheckwriter opened #336 "How to get EntityRef details specially for Checks"
Earlier Version you used to get the entity type but in the new version, we are no longer getting it, so how can we get payee details??

Our old code:

$purchase = $dataService->FindById('purchase', $entry_id);
$payee_id = isset($purchase->EntityRef) ? $purchase->EntityRef : 0;
$payee_type = isset($purchase->EntityRef->type) ? $purchase->EntityRef->type : "";

   if($payee_type=="Vendor")

[2020-06-27 12:02] #335 closed

[2020-06-27 13:03] onlinecheckwriter commented on #336
While we have tested using postman it is coming, but while used sdk it is not coming. Could you please update your sdk??
last time we fixed by manually changing schema

{
    "Purchase": {
        "AccountRef": {
            "value": "224",
            "name": "Cash on hand"
        },
        "PaymentType": "Check",
        "EntityRef": {
            "value": "694",
            "name": "Customer"

[2020-06-30 11:53] walkersteele opened #337 "Call to undefined method QuickBooksOnline\API\WebhooksService\Entity::__set()"
`
$payload = '{"eventNotifications":[{"realmId":"XXXXX","dataChangeEvent":{"entities":[{"name":"Account","id":"91","deletedId":"135","operation":"Merge","lastUpdated":"2019-06-27T17:12:40.000Z"}]}}]}';

WebhooksService\WebhooksService::getWebhooksEvent($payload)
`
Throws an undefined method __set() when handling an account merge webhook

[2020-07-06 18:56] coebooker opened #338 "ClientID Must be provided"
I've installed the SDK using composer, and am trying to run this [source code](https://github.com/IntuitDeveloper/QBOConceptsTutorial-PHP/blob/master/PayBill.php) and I've properly configured the $config array with my ClientID, ClientSecret, RedirectUri, and scope however whenever I run the file it gives me the error Fatal error: Uncaught QuickBooksOnline\API\Exception\SdkException: [0]: 'ClientID

[2020-07-06 22:51] bsivalingam commented on #338
@coebooker can you please share what the `config.php` looks like?

[2020-07-07 13:02] coebooker commented on #338
`<?php

/**
 * This is a file that required for using the files located in _Sample folders.
 * It is a SQL autoloader that performs the exact same function as composer "require "vendor/autoload.php";"
 * If you are using the _sample file. Remove the required include('../config.php'); line and add "require "vendor/autoload.php"" instead.
 *
 * @author Hao
 */
// PSR-4 Autoloader,QuickBooksOnline\Da

[2020-07-08 14:43] pramodwagh commented on #333
hey,
have you found any solution on this?..

[2020-07-08 17:25] bsivalingam commented on #338
@coebooker you see in the above code at no point do we define `$config['CLIENTID']` and `$config['CLIENTSECRET']`. For purposes of testing you might want to hardcode the values.

[2020-07-08 17:51] coebooker commented on #338
@bsivalingam I have hardcoded these values....but obviously I am not going to post my ClientID and ClientSecret on a public forum

[2020-07-08 18:13] bsivalingam commented on #337
PR: https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/339 fixes the issue.

[2020-07-08 20:16] bsivalingam commented on #338
I need to see the code flow to answer this @coebooker. Please create a support ticket here:  https://help.developer.intuit.com/s/. This is an implementation problem and not a SDK issue.

[2020-07-08 20:16] #338 closed

[2020-07-08 20:39] bsivalingam commented on #333
Thanks for raising this, I have a JIRA to fix the issue, meanwhile feel free to send in a PR.

[2020-07-13 12:26] coresh commented on #324
### The issue: confirmed

The reason:

With the same credentials:
[code]
worked properly

But,

[code]
Provided with an issue:

[code]

[2020-07-13 16:14] bsivalingam commented on #324
@coresh That is very interesting find. Thanks for persisting on the issue. Would you be able to send me the raw request and response log for both the calls? I can bring it to my downstream team.

[2020-07-13 16:29] coresh commented on #324
[code]
Result:

[code]

[2020-07-14 01:19] bsivalingam commented on #324
@coresh Ah I see what you are saying. These calls use different auth headers. The auth code call uses `Basic XXXX` where `XXXX` is a base 64 encoded value of client id and secret. The getUserInfo call is a Bearer token call, where you use the accessToken which you had last obtained. I would still suggest checking the value for clientId that is being passed in the request. Since the client informat

[2020-07-14 14:02] coresh commented on #324
Re : `I would still suggest checking the value for clientId that is being passed in the request.`

```clientID``` -> it's Ok.

The reason:

call:

```$dataService->getCompanyInfo()```

returns properly output

Please check concerning to the `Production` environment.

Thank you

[2020-07-16 00:36] bsivalingam commented on #333
https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/340/files will fix the issue.

[2020-07-16 13:42] pramodwagh commented on #333
@bsivalingam,Thanks.

[2020-07-16 19:54] bsivalingam commented on #326
Fixed in the new PR.

[2020-07-16 19:54] #326 closed

[2020-07-16 19:59] bsivalingam commented on #328
@rogerms I am sorry I didn't get back to you earlier. Are you still blocked?

[2020-07-16 20:00] bsivalingam commented on #249
Closing issue.

[2020-07-16 20:00] #249 closed

[2020-07-16 20:01] bsivalingam commented on #324
@coresh can you please elaborate what you mean by "Please check concerning to the Production environment."?

[2020-07-16 20:04] bsivalingam commented on #336
@onlinecheckwriter this seems to be an error when converting XML to an object. `simplexml_load_string` is ignoring the attributes that EntityRef has. I'll need to dig deeper for fixing this, meanwhile feel free to send a PR.

[2020-07-16 20:05] #333 closed

[2020-07-16 20:05] #337 closed

[2020-07-17 19:51] rogerms commented on #328
I found a workaround; I create a new DataService every time I get a new accessToken.
Thank you

[2020-07-17 19:52] #328 closed

[2020-07-17 19:53] #325 closed

[2020-07-20 22:22] onlinecheckwriter commented on #336
Anyway, We have fixed using directly calling the API. in this particular case, we are not using Intuit SDK.

[2020-07-20 22:23] onlinecheckwriter opened #341 "Deprecation Notice:"
Deprecation Notice: Class QuickBooksOnline\API\Data\IPPWrapper located in D:/xampp/htdocs/ocw/vendor/quickbooks/v3-php-sdk/src\Data\IPP.php does not comply with psr-4 autoloading standard. It will not autoload anymore in Composer v2.0. in phar://C:/ProgramData/ComposerSetup/bin/composer.phar/src/Composer/Autoload/ClassMapGenerator.php:201.

Am I only getting this or everyone else is getting too?

[2020-07-20 22:26] bsivalingam commented on #341
This has been reported: https://github.com/intuit/QuickBooks-V3-PHP-SDK/issues/329. We have a fix, but there was a failure with regression so the PR is on hold.

[2020-07-20 23:35] tehs0ap commented on #333
@bsivalingam I don't see how this resolves the issue. You are now trying to access a non-static property from a static context.

[2020-07-23 12:50] fbc opened #342 "PHP CRUD Create INVOICE example works only on US sandbox"
PHP CRUD Create INVOICE example works only on US sandbox, but fails on Canada sandbox.
No errors are give as to why. You just a get a result of NULL with getLastError() function also resulting in null.

So How do I figure out what is wrong?
I've even added currencyref as indicated by documentation:
[code]

[2020-07-23 13:58] fbc commented on #342
Found that SalesItemLineDetail
Required:
[code]

[2020-07-23 13:58] #342 closed

[2020-07-31 15:52] bch36 opened #345 "Bug in XmlObjectSerializer"
The static class variable $IDSLogger is missing a dollar sign.

XMLObjectSerializer.php, starting on line 184:

[code]

[2020-07-31 15:53] michaellatham commented on #345
https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/346

[2020-07-31 15:59] #345 closed

[2020-07-31 16:00] bsivalingam commented on #345
PR Merged.

[2020-08-01 14:01] streamingcompany opened #347 "Bug introduced in the latest commit"
Hi,

I just updated to the latest version and now I am getting an error. I am running php 7.4.7.

syntax error, unexpected '='

  at vendor/quickbooks/v3-php-sdk/src/Core/Http/Serialization/XmlObjectSerializer.php:185
    181|      */
    182|     public function __construct($idsLogger = null)
    183|     {
    184|         if ($idsLogger) {

    186|         } else {
    187|             self::I

[2020-08-01 14:06] #347 closed

[2020-08-01 14:07] streamingcompany commented on #347
Looks like it was my error, when I updated to the latest it fixed it.

[2020-08-04 16:05] bribar opened #348 "Typo in DataService Class"
I found this typo.

`public function getClinetName(){
       return $this->getClientName();
}`

Client is spelled Clinet

[2020-08-04 16:14] bribar commented on #348
Sorry, didn't see it was declared in previous lines and this one is deprecated.

[2020-08-04 16:14] #348 closed

[2020-08-26 21:36] bch36 opened #351 "content-type of "text/xml" in 401 results in response not being parsed"
In IntuitResponse.php, a fault response isn't parsed unless the content-type is "application/xml".  However, for a 401 response, the content type is "text/xml."  This results in the response not being parsed.

It seems like either the check should be updated in IntuitResponse.php::147, or responses should be sent using the content-type of "application/xml".

Current code:
`if($this->getResponseCon

[2020-08-28 14:52] abhilashwebnapp opened #352 "Getting Property NameValue does not exist. Class IPPIntuitAnyType exception"
@bsivalingam  While creating the payment using sample code https://github.com/IntuitDeveloper/SampleApp-CRUD-PHP/blob/master/CRUD_Examples/Payment/PaymentCreate.php we got the following error:::

`Property NameValue does not exist. Class IPPIntuitAnyType`

Payment is successfully created in qbo online but seems some issue while parsing response from sdk...
This the response we getting from qbo aft

[2020-08-28 23:16] abisalehalliprasan commented on #352
@abhilashwebnapp : we will check and get back to you. What version of the SDK are you using?

[2020-08-28 23:16] abisalehalliprasan commented on #351
@bch36 : Thanks for code suggestions. We will test this change and provide an update.

[2020-08-29 02:34] abhilashwebnapp commented on #352
@abisalehalliprasan we are using latest version of sdk .i.e 5.4

[2020-09-01 06:13] abisalehalliprasan commented on #351
@bch36 : We can tweak the `setFaultHandler()` under IntuitResponse.php class to check if the response content type is `text/xml`:
[code]
I am not sure how this fix will help you. If your program wants to differentiate the error calls, you might need to pass throwonExcpetion as `false` so that the latest error is captured in the DateService object as shown [here](https://intuit.github.io/QuickBooks

[2020-09-01 14:45] bch36 commented on #351
That fix will work great.  The problem was that 401 responses from
QuickBooks weren't being parsed because they used a different response
content type than other errors, and this will fix that.  I don't care about
differentiating error calls, I just want all error responses to be
consistently handled.  Your fix will satisfy that.  Thanks for looking into
this!

On Tue, Sep 1, 2020 at 1:14 AM abisa

[2020-09-03 03:19] abisalehalliprasan commented on #352
@abhilashwebnapp : I tested with the latest version [5.4.3](https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/5.4.3) and I can successfully capture payment on an invoice. Below is my payload used in the script

[code]

Response from SDK :
[code]
Could you provide your request payload if you are still seeing the error?

[2020-09-03 12:22] abhilashwebnapp commented on #352
@abisalehalliprasan We are still getting the error here is our payload

[code]

[2020-09-03 23:51] abisalehalliprasan commented on #352
@abhilashwebnapp : Tried using your request payload :

[code]
Below is the response:
[code]
I am getting back the `<LineEx>` fields as well. Make sure you are passing the correct payload. Will close this as not a bug for now.

[2020-09-03 23:51] #352 closed

[2020-09-04 03:39] streamingsystems commented on #341
I was just checking in as I upgraded to the new composed (2.0) tonight and am seeing this as well.

[2020-09-04 07:03] abhilashwebnapp commented on #352
@abisalehalliprasan Hmm that is interesting, the reason it not being replicated at your end I guess is bcoz your <LineEx /> doesn't seems to have any data inside it ...

[2020-09-04 07:20] abhilashwebnapp commented on #352
Anyway I fixed my issue by adding
in ```vendor/quickbooks/v3-php-sdk/src/Data/IPPIntuitAnyType.php```

[code]

[2020-09-09 20:07] cshanejennings opened #354 "Create an invoice with a class"
I could be missing something, but I'm struggling to find documentation on how to create an invoice where I pass in line item details such as ClassRef, TaxCodeRef, etc  How does one go about creating an invoice containing these details via the API?

[2020-09-09 21:22] #354 closed

[2020-09-09 21:23] cshanejennings commented on #354
I misread the documentation, apologies

[2020-09-10 11:15] daraul commented on #324
I am getting the same error. I have found that I get a new refresh token *before* 24 hours have elapsed since I received the old one. My application is configured to save the new token every time, but the new token *does not work*. If I log the old token, and use that to call the refresh token endpoint again it works fine, and I get the old token back. I do believe there might be an issue on your

[2020-09-14 18:11] thunberg opened #356 "Download PDF without writing to disk"
Hello,

Would appreciate an optional argument to DownloadPDF so that the function would return the raw PDF rather than only writing to disk.

From testing it looks like all that would have to happen is to just return the raw $responseBody and skipping the call to processDownloadedContent.

Thank you

[2020-09-16 06:09] denza opened #357 "DataService Void method is not working"
I found  a bug in php SDK.

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/DataService/DataService.php#L866

If you inspect $uri variable it will output

company/{{CompanyId}}/salesreceipt?operation=void

API Documentation said differently and I update the code to see if I can fix the error and correct uri should be

company/{{CompanyId}}/salesreceipt?operation=update&include=void

[2020-09-22 00:17] abisalehalliprasan commented on #357
Thanks @denza for reporting. We will look into the issue. Also, opening up our SDK for [hacktoberfest](https://hacktoberfest.digitalocean.com/) contributions.

[2020-09-22 00:19] abisalehalliprasan commented on #356
Thanks @thunberg  for reporting. Opening up our SDK for [hacktoberfest](https://hacktoberfest.digitalocean.com/) contributions.

[2020-09-22 00:23] abisalehalliprasan commented on #294
Thanks @alexeycarpe   for reporting. Opening up our SDK for [hacktoberfest](https://hacktoberfest.digitalocean.com/) contributions.

[2020-09-22 00:25] abisalehalliprasan commented on #288
Opening up SDK for [hacktoberfest](https://hacktoberfest.digitalocean.com/) contributions.

[2020-09-22 00:30] abisalehalliprasan commented on #257
Opening up our SDK for [hacktoberfest](https://hacktoberfest.digitalocean.com/) contributions.

[2020-09-22 00:30] abisalehalliprasan commented on #256
Opening up our SDK for [hacktoberfest](https://hacktoberfest.digitalocean.com/) contributions.

[2020-09-26 19:42] cshanejennings opened #359 "How can I make a BatchItemRequest?"
Been looking around for a while and I see the example for uploading a single invoice, but how do I upload a collection of invoices as described here?
https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/batch

I can see the [Batch class](https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/cac6fc09326d524120d00adc50aeb52e210fcf4d/src/DataService/Batch.php), but I can't s

[2020-09-29 18:38] cshanejennings commented on #359
Found the documentation, didn't see it for some reason... https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/_Samples/BatchQueries.php

[2020-09-29 18:38] #359 closed

[2020-09-30 06:46] raftalks commented on #341
@bsivalingam where is the PR, may be we can fix the PR too

[2020-10-02 15:32] yii2backendwebdeveloper commented on #310
We require this change as sometimes getting invoices throw this error which can create problem in production servers.
BTW if the issue is closed then can anyone tell which parameter to set to achieve this timeout .

I did not able to find it in the **documentation** it has not been updated yet

[2020-10-06 21:19] abisalehalliprasan opened #362 "Upgrade XSD2PHP package to the newer version"
**What is it?**
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

**Is your feature request related to a problem? Please describe.**
Upgrade XSD2PHP package

**Describe the solution you'd like**
Today we have the entire code extracted into `QuickBooksOnline\API\XSD2PHP\src\com\mik

[2020-10-06 21:30] abisalehalliprasan opened #363 "Upgrade XML Object Serializer"
**What is it?**
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

**Is your feature request related to a problem? Please describe.**
Upgrade XML

[2020-10-06 21:35] abisalehalliprasan commented on #351
Opening up our SDK for hacktoberfest contributions.

**What is it?**
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

[2020-10-06 21:46] abisalehalliprasan commented on #336
Opening up our SDK for hacktoberfest contributions.

**What is it?**
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

[2020-10-06 21:46] abisalehalliprasan commented on #330
Opening up our SDK for hacktoberfest contributions.

**What is it?**
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

[2020-10-06 21:47] abisalehalliprasan commented on #329
Opening up our SDK for hacktoberfest contributions.

**What is it?**
Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

[2020-10-06 21:49] abisalehalliprasan commented on #275
Opening up SDK for hacktoberfest contributions.

Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

[2020-10-06 21:50] abisalehalliprasan commented on #264
Opening up SDK for hacktoberfest contributions.

Hacktoberfest is underway right now and we would love for you to contribute  🚀  . More information on #hacktoberfest is [here](https://hacktoberfest.digitalocean.com/)

[Develop-with-Intuit for Hacktoberfest](https://medium.com/intuit-engineering/develop-with-intuit-for-hacktoberfest-2020-8f29b70ff2b4)

[2020-10-06 23:42] stevenmaguire commented on #329
According to #341, it seems like there is already a proposed fix here. That seems like a quick Hacktoberfest win to me!

[2020-10-14 13:14] bjacobs opened #365 "Vague error code: Can't match for neo, CCBTE Txn Id null"
In a well established system, I recently started getting an error code (when copying invoices) that doesn't make sense to me: "Business Validation Error: You've attempted to invoice for a charge, credit, billable expense, time, or estimate that does not exist or has already been invoiced. Can't match for neo, CCBTE Txn Id null"

In the attached request, there isn't any string about 'neo', CCBTE, a

[2020-10-15 20:46] JakeBooher opened #366 "Please include the timezone with `getAccessTokenExpiresAt()` and `getRefreshTokenExpiresAt()`"
As the title says, ideally return the timestamp in a format containing the timezone. Ideally in an ISO 8601 format, such as `2020-10-15T20:15:44+00:00`, or add a `getXExpiresAtTimestamp()` method for each that returns the UNIX timestamp without being formatted as a string. Right now we're having some issues with timezone inconsistencies when storing the expirations.

[2020-10-17 11:29] salilbc commented on #366
I would like to work on this issue

[2020-10-28 15:36] hotmeteor commented on #341
What's the status on this one?

[2020-10-29 09:49] akashweenggs commented on #312
@nicosavini It's working for you? Did check that? Because i have some problem while i attach image. It not sync in QBO.

https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/attachable#upload-attachments
https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/_Samples/UploadAttachment.php

I refer above to link for attachment upload into QBO but after upload imag

[2020-10-30 13:24] nicosavini commented on #312
This was working perfectly with @bsivalingam PR, BUT.... this development was for a client of mine and I stopped working with them since March, so I cannot verify it's still working now.

[2020-11-02 21:42] bsivalingam commented on #357
@abisalehalliprasan I wanted to pick this one up for Hacktoberfest so had reached out to V3. Didn't get to it  due to the late  turn around. But here are my findings:
Void operations in V3 have 2 different endpoints, SalesReceipt void endpoint is: `/salesreceipt?operation=update&include=void` as in the docs. This operation will be similar  to the Payments void operation.

[2020-11-03 06:52] Khairulbashar010 commented on #341
I'm having this problem with RestPasswordController. Any updates on this issue?

[2020-11-04 01:36] #330 closed

[2020-11-06 13:11] akashweenggs commented on #312
@nicosavini
Okay. But anyone know about this Or anyone have solution?

[2020-11-06 13:19] akashweenggs opened #374 "Problems with attached Image"
Have some problem while i attach image. It not sync in QBO.

https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/attachable#upload-attachments
https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/_Samples/UploadAttachment.php

I refer above to link for attachment upload into QBO but after upload image it show blank in QBO. It's happens in Sandbox as well as P

[2020-11-08 04:25] levinse commented on #329
+1

[2020-11-10 21:46] jaydiablo commented on #329
#361 seems to attempt to address this, but doesn't fully (class name doesn't match filename and there is at least one other place in the code where the fully qualified name with `API` in it is referenced, mentioned in the comments).

[2020-11-13 22:27] WMarkCaldwell opened #376 "Payment LineEx not populated"
Using PHP Api 5.4.5, and when I pull a payment using a query like "select * from Payment where Id = '1010'", the Line's LineEx is only populated with an empty "any" object.

It looks like this in a var dump of the response:
    ["LineEx"]=>
    object(QuickBooksOnline\API\Data\IPPIntuitAnyType)#120 (0) {
    }

We are expecting info in there. When I perform the same query in your web site (https:/

[2020-11-17 20:41] JakeBooher opened #377 "QuickBooksOnline\API\Data\IPPWrapper class is incompatible with Composer 2.0+"
[code]

Renaming `src/Data/IPP.php` to `src/Data/IPPWrapper.php` should resolve this issue.

[2020-11-17 20:43] JakeBooher commented on #377
Looks like someone has submitted a PR for this already in #375

[2020-11-23 17:28] TravisDavis-ops opened #378 "Timeout while api is up"
Error Message: Severity: error --> Exception: cURL error during making API call. cURL Error Number:[28] with error:[Operation timed out after 15001 milliseconds with 0 bytes received]
An uncaught Exception was encountered
Type: QuickBooksOnline\API\Exception\SdkException

Message: cURL error during making API call. cURL Error Number:[28] with error:[Operation timed out after 15001 milliseconds wit

[2020-11-23 18:35] onlinecheckwriter opened #379 "How to update bill payment paid by check mark as printed"
We used to use like this  now  getting error : Property PrintStatus does not exist. Now how can we mark this checks as printed and set check_no

       $purchaseObj = new IPPBillPayment();
        $purchaseObj->Id = (int)$trans_id;
        $purchaseObj->PrintStatus = "PrintComplete";
        $purchase = $dataService->FindById($purchaseObj);
        $updatePurchase = BillPayment::update($purchase,

[2020-11-23 22:37] onlinecheckwriter commented on #379
Fixed:

   $purchase = $dataService->FindById('billpayment', $trans_id);

        $BankAccountRef = ($purchase->CheckPayment->BankAccountRef);

        $check_payment = new IPPBillPaymentCheck();
        $check_payment->BankAccountRef=$BankAccountRef;
        $check_payment->PrintStatus="PrintComplete";

        $updatePurchase = BillPayment::update($purchase, ["CheckPayment" => $check_payment, "D

[2020-11-23 22:37] #379 closed

[2020-11-27 05:44] akashweenggs commented on #374
Anyone have solution about this issues? Please guide me correct way so i can solve this issues. It's critical for my project ..

[2020-12-02 13:52] ddegentesh opened #381 "$raw is undefined"
https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/a1eedc7e6a4e1bcd6213535f4275fc3f05d52c95/src/DataService/DataService.php#L952

```$raw``` does not appear to be defined anywhere. Throws an error:

``` Notice: Undefined variable: raw at ./vendor/quickbooks/v3-php-sdk/src/DataService/DataService.php:952```

PHP 7.4.13

[2020-12-04 12:49] andreasspeck opened #382 "Query by multiple ids"
I am trying to use the Query() service to query by id. I know you can load an entity (e.g. a Customer) by Id, but I can't figure out how to query by multiple ids, nor does a query such as "select * from Customer where Id = '1'" return anything.
I'm trying to load multiple ids at the same time, and a query could look like "select * from Customer where Id = '1' or Id = '3' or Id = '5'" (I'm not sure

[2020-12-08 16:12] alexallotment commented on #381
Checking back through commits for this method, looks like the argument changed from $raw to $returnPdfString, but $raw wasn't updated on line 952. Have manually change to $returnPdfString to test and can confirm this fixes the issue.

[2020-12-08 19:08] shawnreid opened #383 "Required parameter $dir follows optional parameter $fileName"
quickbooks/v3-php-sdk/src/DataService/DataService.php:1670

Caused by this line:

`protected function processDownloadedContent(ContentWriter $writer, $responseCode, $fileName = null, $dir)`

https://php.watch/versions/8.0/deprecate-required-param-after-optional

[2020-12-10 01:34] TimOgilvy opened #385 "Please pass on feedback to Intuit Dev"
Hi @hlu2 and team,

I wonder if you could let the docs team know that the docs don't include the PrintStatus field?

I can see it's on the IPP Entity https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/a1eedc7e6a4e1bcd6213535f4275fc3f05d52c95/src/Data/IPPPurchaseOrder.php#L205

Looks like it was implemented as part of a minor version update 2 years ago... but the dev docs have not been updated.

[2020-12-15 06:49] abisalehalliprasan commented on #374
@akashweenggs : The `upload()` accepts base_64 encode of the attachement as the parameter. The sample says base_64_decode. Kindly change it to as shown below :
[code]
We will address this error with a fix or any PR's are welcome.

[2020-12-15 06:49] #374 closed

[2021-01-07 03:04] parthiv2585 commented on #307
@bsivalingam  Sorry for let reply.
Yes, I have added use QuickBooksOnline\API\DataService\DataService;

[2021-01-20 07:26] shawncrigger opened #387 "Creating TaxAgency throws errror"
Hello,  I am having constant issues when adding TaxAgencies,  I got around it the first time by inserting them in Batches but I am at a point where I have to be able to create a single agency when creating a TaxCode,  when I attempt to add the agency using code like

[code]

I get the following error, which is strange because according to the API Explorer for TaxAgency XML is not supported, and ac

[2021-02-03 19:02] GameCharmer opened #388 "What should these actually be returning"
in `src/DataService/DataService.php` L793

[code]

in `src/DataService/DataService.php` L635
[code]

The Add method is returning Boolean FALSE.  Add says it's only returning IPPIntuitEntity, the method it's directly returning says it's only returning null or string.  What are my actual options here?

[2021-02-04 22:52] abisalehalliprasan commented on #388
@GameCharmer : Did you pass the Entity which is of the type `IPPIntuitEntity` to Add method? The Add method of the DataService object should return `IPPIntuitEntity` of the entity that was created.
Take a look at the Samples folder if you haven't already :
https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/_Samples/ItemCreation.php

[2021-02-05 01:33] abisalehalliprasan commented on #381
Fixed with new release [v5.4.6](https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/5.4.6)

[2021-02-05 01:33] #381 closed

[2021-02-05 01:34] abisalehalliprasan commented on #383
Fixed with new release [v5.4.6](https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/5.4.6)

[2021-02-05 01:34] #383 closed

[2021-02-05 02:36] GameCharmer commented on #388
@abisalehalliprasan I passed it the result from `Invoice::create()`  I'm betting I have the wrong CustomerRef value and Invoice::create is just returning false.  Either way, do you think I should put together a pull request to fix the doc blocks?

[2021-02-05 04:47] abisalehalliprasan commented on #388
If you pass the request paylaod to the create method of the `Invoice` facade as shown below :

[code]
Output:
[code]
If you do not pass a valid `CustomerRef` for `Creating Invoice` the exception SDK is throwing is :
[code]
Not sure how you are getting a boolean response. If you could post your payload ( make sure to mask any sensitive information ) before creating a PR would help.

[2021-02-05 06:29] shawncrigger commented on #387
Since no one has any clue, I found the SDK is not stable in any fashion. However, you can get around this lovely undocumented feature by inserting TaxAgency in batch, but not TaxRate/TaxCode those only work in a single entry. You can send a batch, and it won't error out, but it won't generate anything either.  **Quality code**

What I did to get around adding 1 TaxAgency was send a freaking batch

[2021-02-05 06:32] shawncrigger opened #390 "SDK 5.4.5 Logging does not work"
I stupidly updated my composer and it upgraded the SDK to 5.4.5 and all of a sudden my request and response logs no longer worked,  I checked the directory exists, `is_writeable()` and that logging is enabled. Since all of a sudden, some other issues started happening and without the log to debug anything I revered back to 5.4.4 which seems to be the most stable version atm?

[2021-02-05 15:17] GameCharmer commented on #388
@abisalehalliprasan the overarching problem here isn't the data, it's the returned values.  I can't get past code validation when the returns don't line up.  `Add` says it only returns `IPPIntuitEntity` , but it returns the result of `sendRequestParseResponseBodyAndHandleHttpError`, which says it only returns `null|string`.

The best I can think of here would be to fork and throw exceptions when r

[2021-02-05 20:03] abisalehalliprasan commented on #390
@shawncrigger : Thanks for reporting this. We will look into it. This might have been introduced with the PR #364 . We apologize for the inconvenience caused.

[2021-02-05 20:04] abisalehalliprasan commented on #388
@GameCharmer : Could you create a PR ? and we can take a look at this.

[2021-02-09 03:10] abisalehalliprasan commented on #390
@shawncrigger : Thanks for reporting, this should be fixed with the release : [5.4.7](https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/5.4.7)

[2021-02-09 03:10] #390 closed

[2021-02-09 03:49] abisalehalliprasan commented on #387
The logging issue is now fixed with the release [v5.4.7](https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/5.4.7). We will look into the `taxAgency` endpoint and update the documentation/sample accordingly.

[2021-02-09 17:28] #341 closed

[2021-02-09 22:51] abisalehalliprasan commented on #377
@jacobembree: Thanks for reporting, this should be fixed with the release: [6.0.0](https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/6.0.0)

[2021-02-09 22:51] #377 closed

[2021-02-12 09:09] shawncrigger commented on #387
Can you explain to me why when I send tax information it doesn't show up in the sandbox but does in the JSON request/response?

[2021-02-16 14:23] GameCharmer commented on #388
@abisalehalliprasan PR: https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/394

[2021-02-26 23:22] ubrmensch commented on #235
Weird...that fix does not work for me, and it also does not throw an error either....

The invoice is left unaltered.  Perhaps there is something else missing?

[2021-03-10 15:30] nesh-ua opened #395 "An Issue with query request"
This is my query:
SELECT * FROM Customer WHERE DisplayName='Limited Company “FIRST CUSTOMER”`

I understand that this problem with this “
I can create customer with this "DisplayName", but i can't make query for searching by "DisplayName". Can you offer me suggestion?

[2021-03-24 18:57] jplevene opened #396 "PHP 8 possible issue with queries"
I am getting the following query go wrong using the latest SDK running on a PHP 8 server:
`select * from Invoice where Id in ('16938', '16995', '17438', '17440', '17858', '17906', '17907', '17911', '17912', '17977', '18226', '18227', '18246', '18242', '18318', '18336', '18344', '18345', '18362', '18363', '18416') and Balance='0' and MetaData.LastUpdatedTime>'2021-03-19T21:34:34Z' STARTPOSITION 0 M

[2021-03-25 21:12] abisalehalliprasan commented on #396
@jplevene : Just to confirm, are you seeing this only for Query operations on PHP 8 using the latest SDK? I will take a look at it.

[2021-03-25 21:44] jplevene commented on #396
Yes, only on PHP 8 with latest SDK and only when the query returns results.  If the query has no Invoices in the results, it's fine.

[2021-03-26 22:48] jplevene commented on #396
Please drop it, it was our end.

[2021-03-26 22:48] #396 closed

[2021-03-31 08:37] lchhieu opened #397 "Error parsing queryQueryParserError: Invalid content. Lexical error at line 1, column 37. Encountered: "\u2013" (8211),"
I got an error when try to the statement: $dataService->Query("select * from Item WHERE Name='$itemName'");
$itemName' = 'Boot – Wolverine – Legend 6" Safety Toe – W10611 (ANY POSITION)';
It's seem dont support endash

Could u give me advice. Thanks

[2021-03-31 13:19] DIntriglia commented on #17
I can confirm that it is not working on my side as well. I just setup a cron jobs to remove every non sess file from the directory, which includes the Request & Response files from QBO. Extremely frustrating that you can't simply disable it, but at least there is a work around through a cron job.

`find /tmp/systemd-private-XXXXX-php74rc-fpm.service-XXXXXX/tmp/ -type f ! -name 'sess*' -delete`

Si

[2021-04-06 01:53] moses-bowman commented on #258
I'm having a similar issue with @thedangler. The invoices don't get synced because every `DefinitionId` queried from `SalesFormsPrefs` are `null`. According to the [docs](https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/invoice), a `CustomField`'s `DefinitionId` is **required**

![image](https://user-images.githubusercontent.com/40249465/113647674-dadf8880-96bd

[2021-04-06 02:01] moses-bowman opened #398 "SalesFormsPrefs - NULL DefinitionId"
I'm having a similar issue with @thedangler (#258). The invoices don't get synced because every `DefinitionId` queried from `SalesFormsPrefs` are `null`. According to the [docs](https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/invoice), a `CustomField`'s `DefinitionId` is **required**

![image](https://user-images.githubusercontent.com/40249465/113647674-dadf88

[2021-04-06 03:50] moses-bowman commented on #398
Resolved by using the _numeric value_ in the `Preferences.SalesFormsPrefs.CustomField.CustomField.Name` as the `DefinitionId`.

Source: https://developer.intuit.com/app/developer/qbo/docs/develop/tutorials/create-custom-fields

[2021-04-06 03:50] #398 closed

[2021-04-08 15:18] TravisDavis-ops commented on #378
So this has happened again but this time it  has been happening for 2 days, any one know whats up.

[2021-04-14 19:21] TravisDavis-ops commented on #378
I will close this, at some point someone added a Global  I can set to change the default timeout, thanks

[2021-04-14 19:21] #378 closed

[2021-04-29 17:33] tomcat90 opened #400 "Method is misnamed"
The method should be getClientName and is actually spelled getClinetName

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/73c395d7243fa4dc63027a94cda20180c8b3b5cb/src/DataService/DataService.php#L355

[2021-05-04 22:35] abisalehalliprasan commented on #400
We are fixing this in the next release. Thanks @tomcat90

[2021-05-07 17:32] #400 closed

[2021-06-09 16:49] KarunaGovind opened #403 "deleted attribute in webhhooks"
Starting today, all our webhooks were failing because of this error:

`Call to undefined method QuickBooksOnline\API\WebhooksService\Entity::__set()`

This is because webhooks are now sending a `deleted` attribute. We've had to work around it by removing anything which isn't in ['name', 'id', 'operation', 'lastUpdated'] but shouldn't the SDK simply ignore the values it doesn't expect?

I've seen s

[2021-06-16 02:54] parthiv2585 opened #404 "Display Fatal error when 1st time page load"
Hi All,

**When I have page load, then get below Fatal error.**

Fatal error: Class 'oasis\names\specification\ubl\schema\xsd\CommonAggregateComponents_2\ResponseType' not found in /var/www/demo/vendor/quickbooks/v3-php-sdk/src/XSD2PHP/test/data/expected/ContactPerson1/oasis/names/specification/ubl/schema/xsd/CommonAggregateComponents_2/Response.php on line 10

Fatal error: Cannot declare class oa

[2021-06-17 13:43] ezea213 opened #405 "How to get Realm Id during runtime."
Hello,

What I wanted to do is to save company realm id on my database during invoice create.
I have multiple QuickBooks company and setup one database invoices table for them.
So basically, I want to reference each invoice to their respective company using the company realm Id.

Thank you.

[2021-07-03 10:28] ArchTaqi opened #407 "Constant names should comply with a naming convention"
As PSR2 Coding Conventions;

- Constants names should comply with regular expression `^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$`

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/73c395d7243fa4dc63027a94cda20180c8b3b5cb/src/Utility/UtilityConstants.php#L12

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/73c395d7243fa4dc63027a94cda20180c8b3b5cb/src/Utility/UtilityConstants.php#L17

https://github.com

[2021-07-04 15:49] gmariani opened #408 "Property JournalEntry does not exist. Class IPPRecurringTransaction"
Trying to retrieve a list of RecurringTransactions and I get this error.

`$dataService->Query("select * from RecurringTransaction");`

I am getting the following exception in `PhpObjFromXml` in `/src/Core/Http/Serialization/XmlObjectSerializer.php` of the SDK. I"m using version 6.0.1 of the SDK.

`Property JournalEntry does not exist. Class QuickBooksOnline\API\Data\IPPRecurringTransaction`

[2021-07-04 16:23] gmariani opened #409 "Typo in CoreConstants.php"
[code]

NAMEPSACE_DATA_PREFIX should be NAMESPACE_DATA_PREFIX

[2021-07-04 16:31] gmariani commented on #408
Managed to patch this by adding this to /src/Data/IPPRecurringTransaction.php

[code]

[2021-07-05 04:52] gmariani commented on #408
Had to also add this:

[code]

In order to get the correct error message, I have to modify error message in `/src/DataService/DataService.php` with this in order to get the actual error message:

[code]

to

[code]

[2021-07-05 05:18] gmariani commented on #408
Looks like this is the complete list of types that should probably be added to support: Bill, Purchase, CreditMemo, Deposit, Estimate, Invoice, JournalEntry, RefundReceipt, SalesReceipt, Transfer, VendorCredit, and PurchaseOrder

[2021-07-05 09:35] HunterNyan opened #410 "Bug with Attachments"
https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/a4139a9cc439a5c03edec070d56344b1dc82056f/src/_Samples/UploadAttachment.php#L131

From my understanding, this "base64_decode" should not exist as the function expects the base64 of the attachment to sent.

[2021-07-05 12:23] jason-newvision commented on #197
For anyone who finds this old post. The above example no longer works. The file must be base64 encoded first.
I found my old answer while trying to solve a new issue! The following should work:

`$result = $this->dataService->Upload(
            base64_encode(file_get_contents($request->file->getRealPath())),
            $objAttachable->FileName,
            $request->file->getClientMimeType(),

[2021-07-13 17:52] adamlytics commented on #329
What's the hold up here?   The world is moving on with Composer 2 and we are having to hold our stuff back because of this.

[2021-07-13 18:15] abisalehalliprasan commented on #329
@adamlytics This should be fixed with the release: [6.0.0](https://github.com/intuit/QuickBooks-V3-PHP-SDK/tree/6.0.0)

[2021-07-16 05:30] yashasvimisra2798 commented on #409
@gmariani I have raised a PR fixing this issue, please check.
Thank you!

[2021-07-16 06:19] gmariani commented on #409
Looks like this constant is also used in:
src/XSD2PHP/src/com/mikebevz/xsd2php/Bind.php
src/Core/Http/Serialization/XmlObjectSerializer.php
src/Utility/MetadataExtractor.php
src/Facades/FacadeHelper.php

Just changing src/Core/CoreConstants.php will cause the rest of the files/classes to break.

[2021-07-16 06:37] yashasvimisra2798 commented on #409
Shall I make changes to these files as well?

[2021-07-16 10:12] vijaya-lakshmi-venkatraman commented on #363
Hello,
Is this issue still open?

[2021-07-16 10:14] vijaya-lakshmi-venkatraman commented on #256
Hello,
Is this still available?

[2021-07-16 10:22] vijaya-lakshmi-venkatraman commented on #256
HI
I have just submitted a PR making the change.
However, I see that there are many methods with params that need changing.
Should they be changed as part of this PR too?

[2021-07-16 13:13] gmariani commented on #409
Only if you don't want to break the SDK. lol

[2021-07-19 06:01] yashasvimisra2798 commented on #409
Hey @gmariani I have raised a PR with the said changes, please guide me if anything else needs to be done

[2021-07-29 03:46] mmoreno509 opened #413 "Issue with Server Fault Responses and 200 Errors"
https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/a4139a9cc439a5c03edec070d56344b1dc82056f/src/Core/Http/Serialization/XmlObjectSerializer.php#L124

So we're having an issue with our application that is not succeeding in transferring invoices to quickbooks, upon further inspection I found this line of code which I find quite troublesome...

The API documentation here mentions Faults that could

[2021-08-06 12:00] yashasvimisra2798 commented on #409
Are there any more changes to be done in the PR #411?

[2021-08-06 13:03] gmariani commented on #409
Not that i know of, i have not tested this. I was just reporting the issue.

[2021-08-16 17:44] ajgale opened #417 "Documentation Does Not Match QuickBooksOnline\API\DataService\Batch::AddQuery() signature"
https://developer.intuit.com/app/developer/qbo/docs/develop/sdks-and-samples-collections/php/synchronous-calls#batch-process

The following example code from the above link is incorrect:
`$batch->AddQuery("select * from Customer startPosition 0 maxResults 20", "queryCustomer",
      "uniqueQuery");`

AddQuery takes 2 parameters:
[code]

[2021-08-16 18:19] ajgale commented on #417
Submitted PR only fixes examples in this repo. It doesn't look like the linked documentation is generated from those files, so at the moment I believe this is all I can do.

[2021-08-19 15:02] mgkimsal opened #421 "bug: removeNullProperties removes regular arrays too"
https://github.com/intuit/QuickBooks-V3-PHP-SDK/pull/420

I've seen others with the same error messages I was seeing yesterday

"CustomerRef is missing" from posting an Invoice object.

Using JSON, the serializer 'removeNullProperties' method was filtering out the "CustomerRef" key/value, because the value itself was not a 'recurrsiveArray' (typo there - wasn't sure if I should change that too?)

[2021-08-19 15:25] mgkimsal commented on #421
Looking at this more, I'm guessing more people use a 'loose collection' style... ?

[code]

and perhaps this wasn't/isn't a problem?

I was/am using code more like this...

[code]

This is where I kept getting "CustomerRef is missing" errors, because the Add() call something that eventually gets down to a serializer - XML or JSON.  The XML one never worked for me...

[code]

When I discovered you

[2021-09-29 18:34] mybouhssina opened #422 "(potential bug) Invoice update not updating taxes"
Hi, I'm not sure if this is a bug or not, but when updating an Invoice the total amount is update but the taxes value are not updated:
[code]
I have to manually set `$invoice->TxnTaxDetail = null;` at (1) if I want the taxes to be recalculated.
is this a feature or a bug ? ^^'

[2021-09-30 20:20] javabudd commented on #413
can anyone from the intuit team even respond to this?

[2021-10-08 14:38] Wirone commented on #249
It breaks analysis of [`ComposerRequireChecker`](https://github.com/maglnet/ComposerRequireChecker):

[code]

And yeah, `--ignore-parse-errors` can be used, but I just wanted to point that problem still exists 😉

[2021-10-14 05:07] sanchyanchakraborty opened #423 "Issue in Contact API"
Hi,
I'm using php SDK of Quickbook.
I tried to query to fetch all the Contacts from quickbook linked with my account.
In API Response Quickbook sends some contacts, but not the all.
More preciously I described in this video.
Please help me.

https://youtu.be/VHzeXfCgHlw

[2021-10-16 14:23] mattimeo opened #424 "Intuit.Ipp.Data.dll File Version"
In v7.5 of this SDK Intuit.Ipp.Data.dll was versioned like the other dlls with 7.5.0.0, but now in the latest releases it is 1.0.0.0. I assume this is unintentional? I assume it should be versioned to match the other Intuit.Ipp dlls or at least be higher than its prior version. I made a workaround to get this to deploy with our internal updater utility so it saw the file as newer than the 7.5.0.0

[2021-10-17 06:00] mattimeo commented on #424
I meant to post this to QuickBooks-V3-DotNET-SDK...

[2021-10-23 18:21] themightychris opened #425 ""com\intuit\..." prefixes on class types"
What's with all the properties being declared with types like `com\intuit\schema\finance\v3\IPPReferenceType`:

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/Data/IPPSalesTransaction.php#L71

When the namespace for `IPPReferenceType` is `QuickBooksOnline\API\Data`:

https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/Data/IPPReferenceType.php

This makes it impossible

[2021-11-24 12:43] SteveEdson opened #428 "Get packing slip PDFs"
Hello,

Is it possible to download the packing slip PDFs through the API, like we can for the Invoice PDFs?

<img width="186" alt="Screenshot 2021-11-24 at 12 42 43" src="https://user-images.githubusercontent.com/1201960/143240613-eebb8f50-34b3-4525-9fab-0d14d7cb1894.png">

They can be generated from the admin area in the screenshot above.

Thanks

[2021-12-01 17:33] Shylajhaa commented on #428
I would like to work on this

[2021-12-14 04:30] raffismartpadpro opened #429 "Refund"
Hi, can anyone help me with how to issue a refund? Currently, we can only delete a payment but we also need a refund but I can't find it in the samples. Thanks.

[2021-12-15 06:00] ShreeSoftech-Rupesh opened #430 "CORS header ‘Access-Control-Allow-Origin’ missing"
how to solve this error? i am use codeigniter 4 framework

![image](https://user-images.githubusercontent.com/92097236/146131826-a3315311-ec30-42e7-b955-ec37cbdf3476.png)

[2021-12-15 07:21] #430 closed

[2021-12-17 01:15] spencerwasden opened #431 "Deleted status from XML response is not reflected in DataService::CDC return value"
I have a deleted payment in QBO.  When I query for modified payments since a certain date with DataService::CDC, the response XML indicates the deleted status (see `status="Deleted"` in `Payment` element):
[code]

However, the `status` member in the corresponding returned object of DataService::CDC is null (see print_r results of CDC's `$returnValue` below).  Should it not reflect the status attri

[2021-12-23 16:39] TPXP commented on #328
I just ran into this issue with the latest version of the SDK (`v6.0.2`).

Just call `refreshToken` or `refreshAccessTokenWithRefreshToken` and try using the returned token.

The faulty code is
https://github.com/intuit/QuickBooks-V3-PHP-SDK/blob/master/src/Core/OAuth/OAuth2/OAuth2LoginHelper.php#L541

It expects `realmId` to be passed to the function, but the two token refreshing functions do not

[2021-12-27 22:17] bomshteyn commented on #410
PR: #432

[2021-12-30 18:48] fr8train-homebase opened #433 "ErrorException in SyncRestHandler.php Undefined index: Content-Type"
SyncRestHandler.php@274
References CoreConstants::CONTENT_TYPE which is

[code]
My version of php_curl uses lowercase meaning that php curl is expecting "content-type" at this location in the code, as well as others I'm assuming.

PHP Curl Version (JSON Object)
{
  "version_number": 476160,
  "age": 5,
  "features": 12568477,
  "ssl_version_number": 0,
  "version": "7.68.0",
  "host": "x86_64-pc-l

[2022-01-02 18:07] TPXP opened #434 "Please strip the data test files from the composer package"
Hello,

I still deploy my PHP app on a remote server through FTP and an excess amount of files slows down the process a lot.

I've found the `vendor/quickbooks/v3-php-sdk/src/XSD2PHP/test/data/expected/` has about 4k unneeded files (test fixtures, it seems?). Could you strip them? The SDK works fine without them.

Regards,

Thomas

[2022-01-19 16:48] kkmuffme opened #437 "Wrong type for FaultHandler"
FaultHandler type for e.g. @return are not declared correctly, thus it seems FaultHandler is part of \QuickBooksOnline\API\DataService\FaultHandler even though it is in \QuickBooksOnline\API\Core\HttpClients\FaultHandler

[2022-01-24 13:06] kkmuffme opened #439 "Dictionary is not a valid PHP type"
dictionary isn't a valid PHP type.

Assuming this should be `array<string, int|object|string>` from what I've seen so far

[2022-02-10 20:57] danielkim71 opened #444 "Missing 'TaxClassificationRef' Intuit Entity Object"
'TaxClassificationRef' Intuit Entity Object is missing from FacadeClassMapper.php

Here's a sample error message.

    [message:protected] => The name value:{TaxClassificationRef} can't be used to construct an Intuit Entity Object. Please check the name and try again.
    [string:Exception:private] =>
    [code:protected] => 0
    [file:protected] => /home/office/public_html/vendor/quickbooks/v3-p

[2022-02-15 15:26] ljudbane opened #445 "IntuitResponse with ValidationFault is invalid XML"
I noticed that in case of a specific ValidationFault, the XML we can get with `DataService->getLastError()->getResponseBody()` is not a valid XML. It's missing a closing `</Error>` tag.

The request was to create an invoice.

Example1:
[code]

Example2 (validation error in 2 Line elements):
[code]

Our code that triggered this:

[code]

I'm not sure if this is an issue with PHP SDK, it looks more

[2022-02-23 21:18] DIntriglia commented on #275
Is there an update on this? I believe the issue is still present.

[2022-03-05 15:17] kkmuffme commented on #425
This is incredibly annoying, please merge the PR I provided.

[2022-03-05 15:31] #437 closed

[2022-04-18 02:56] yingyuhaonan opened #446 "accesstoken 24 hour expiration，my code wrong?"
$dataService       = DataService::Configure( [
                                                         'auth_mode'    => 'oauth2',
                                                         'ClientID'     => $list['clientID'],
                                                         'ClientSecret' => $list['clientSecret'],
                                                         'RedirectURI'  => "

[2022-04-29 08:57] oprypkhantc opened #447 "PHP 8.1 deprecations"
PHP 8.1 prohibits passing nulls to internal function arguments that don't expect null. This causes deprecations like these:

[code]

It's very likely these aren't the only possible deprecations, but I don't have any more information at the moment.

[2022-05-14 21:32] lcnervick opened #448 "PHP 8.1 String Argument Deprecation"
Unknown Error Type [8192]: strlen(): Passing null to parameter #1 ($string) of type string is deprecated
/Core/HttpClients/SyncRestHandler.php(267)

set null to "" and it pushes through ok

[2022-06-17 21:51] 1127 opened #452 "Create an item with a Class"
I can create an item and include every field I need except Class. The API Documentation at QB says it is "ClassRef":
https://developer.intuit.com/app/developer/qbo/docs/api/accounting/most-commonly-used/item#the-item-object

In including API\Facades\IPPClass

I can set a PrefVendorRef perfectly fine - I need to set ClassRef - been sending a "value" and "name" but only get back: Error: Property Cla

[2022-06-20 13:44] 1127 commented on #452
PrefVendorRef also doesn't work - clearly setting it - item in QBO has no preferred vendor.

[2022-07-04 15:53] 1127 commented on #452
So I see someplace that we can't create Inventoried items. I think this is a pretty big shortcoming - adding just a few fields would make this so much more powerful.

[2022-07-04 16:04] 1127 commented on #452
Adding to the mystery: ReorderPoint works FINE - WTF? QtyOnHand can be set fine - why can't these other things?

[2022-07-21 09:35] pjp-comp opened #453 "apply QBO Report Filters"
Is there any way to **apply filters on reports** which all are available in QBO UI side...??
Ex : apply fiilters like Display columns by, Show non-zero or active , Compare another period, Accounting method using this sdk.

I have made it possible by updating this class `src/ReportService/ReportService.php` to prepare `$httpRequestUri ` based on the url they are preparing while clicking on to run r

[2022-07-21 14:42] rdafisher commented on #447
This looks like a fairly simple fix in OAuth2LoginHelper.php (line 281, swap the null for an empty string).

Will there be a minor release to remedy this soon? Would like to get testing on PHP 8.1,

Thanks!

[2022-07-21 14:43] rdafisher commented on #447
This looks like a fairly simple fix in OAuth2LoginHelper.php (line 281, swap the null for an empty string).

Will there be a minor release to remedy this soon? Would like to get testing on PHP 8.1,

Thanks!

[2022-07-31 09:39] codetestmg opened #454 "is Refresh token invalid after 24 hours ?"
As per doc
[https://help.developer.intuit.com/s/article/Validity-of-Refresh-Token#:~:text=The%20Refresh%20Token%20is%20valid,consent%20again%20until%20this%20time.](url)

So does it mean if I am not calling  `refreshAccessTokenWithRefreshToken($currentRefreshToken)` method after 24 hours then the current refresh token will be valid for 100 days and it will only invalidate the current token if I ca

[2022-08-01 03:15] #454 closed

[2022-08-02 16:40] chas688 commented on #453
I have similar issues, but what I have done is create a service layer between the SDK and my application where I just filter down what I need. I tend to use the QBO API as a "kitchen sink" method and then do my own filters from that point. Because I use the SDK as well as my own database layer, the service layer handles which query needs to go to what data source. Also I use the service layer to h

[2022-08-02 17:01] akolahi opened #456 "Reading an Invoice that is past the 'Closing date' causes an Exception"
This appears to be a new issue as we've been Reading closed invoices for years and never encountered this problem.

Reading or querying an invoice that is past the closing date causes the following error: Exception:
"Exception appears in converting Response to XML. in QuickBooksOnline\API\DataService\DataService->Query() (line 1035 of .../libraries/qbo/src/DataService/DataService.php)"

Comparing

[2022-08-02 17:14] pjp-comp commented on #453
Thanks @chas688 i did the same thing by copied that class out side of sdk in my library and addon according my requirements..

[2022-08-02 17:14] #453 closed

[2022-08-07 16:11] samdalley opened #457 "Is the SDK compatable with Php version (8.1.6)"
Composer has issued warnings that my PHP is too uptodate.  Can these be ignored.  How can I test/view if the SDK has installed?

[2022-08-10 00:13] onlinecheckwriter opened #458 "PrintStatus is not changing"
Hello,
We tried to pass the value as follow

{
   "BatchItemRequest":[
      {
         "bId":"1001",
         "operation":"update",
         "Purchase":{
            "domain":"QBO",
            "PaymentType":"Check",
            "sparse":"true",
            "Id":"745",
            "SyncToken":3,
             "DocNumber":502,
            "PrintStatus":"PrintComplete"

         }
      }

   ]
}

h

[2022-08-30 12:33] hyphen81 commented on #312
Is there any resolution to this? I'm able to create an attachment, and I get the `QuickBooksOnline\API\Data\IPPAttachableResponse` back that contains a `TempDownloadUri`. However, when I look at the item in QBO there's no attachment. Copying and pasting the URI into a browser window yields the error "Failed to load PDF document".  Any idea what's going on here?

[2022-08-30 13:09] hyphen81 commented on #312
Just realized if I click "Show Existing" in the bill payment in QBO, I see all the attachments. They show as "Unlinked" for some reason. Maybe I'm missing a step somewhere.

[2022-09-07 03:19] tsoslow commented on #447
Php 7.x will no longer be supported in 2 months. It would be great if you supported 8.0 and 8.1.

I think everyone would be fine with this library no longer supporting Php 5.6.0 for future releases since support ended in 2018.

[2022-09-14 08:10] baaskoen opened #459 "Unable to query `RecurringTransaction`"
I'm on version: `^6.0` and I'm trying to get all `RecurringTransaction`:

[code]

Then an exception is thrown:

[code]

I'm not getting this exception in other queries.

[2022-09-14 08:19] baaskoen commented on #459
This is the content of `$responseBody` before it throws an exception:

[code]

[2022-09-14 11:55] hyphen81 opened #460 ">= Operator Unexpected Results"
I have a bill in the sandbox that has a date of 8/1/2022. This query returns no results:

`Select * from Bill where VendorRef = 'my-vendor-ref-id' and TxnDate >= '2022-08-01' and TxnDate <= '2022-08-31' and Balance != '0.00' startposition 1`

I went into the sandbox account and adjusted the bill date to 8/2/2022 and re-ran the query and it returned the bill.

The docs seem to indicate that providi

[2022-09-16 12:34] hyphen81 commented on #460
I think the STARTPOSITION and/or MAXRESULTS might have been causing me problems. I've adjusted my query and it seems to be returning the right records now.

[2022-09-16 12:34] #460 closed

[2022-09-27 19:24] hyphen81 opened #461 "ReflectionException IPPBillPayment::$BillPaymentCreditCard does not exist in"
ReflectionException: Property QuickBooksOnline\API\Data\IPPBillPayment::$BillPaymentCreditCard does not exist in ... v3-php-sdk/src/Facades/FacadeHelper.php:439

Any idea why I would be getting this error? According to the docs "BillPaymentCreditCard" is a valid type.

[2022-09-28 11:34] hyphen81 commented on #461
I think I figured this out. Still need to test, but I think I had the wrong value. Sorry for the premature issue.. Should've done more digging before opening.

[2022-10-21 12:38] jplevene opened #463 "Create purchase order bug"
Error response:

**Fatal error**:  Uncaught ReflectionException: Property QuickBooksOnline\API\Data\IPPLine::$TaxCodeRef does not exist in /var/vendor/quickbooks/v3-php-sdk/src/Facades/FacadeHelper.php:439
Stack trace:
#0 /var/vendor/quickbooks/v3-php-sdk/src/Facades/FacadeHelper.php(439): ReflectionClass-&gt;getProperty('TaxCodeRef')
#1 /var/vendor/quickbooks/v3-php-sdk/src/Facades/FacadeHelper.p

[2022-11-08 11:34] isukhikh opened #464 "DOMDocument::loadXML(): Start tag expected, '&lt;' not found in Entity, line: 1"
PHP version: 8.1.9
SDK version: 6.0.5

The error occurs either when I fetch records from the API or try to create/update a record via API.

Stack trace leads here:
/vendor/quickbooks/v3-php-sdk/src/Core/HttpClients/SyncRestHandler.php in QuickBooksOnline\API\Core\HttpClients\SyncRestHandler::parseStringToDom at line 315

$dom->loadXML($string);

I believe this is an SDK issue just like the one men

[2022-11-16 16:08] #448 closed

[2022-11-23 21:08] fdalcin commented on #459
I'm having the same issue and it appears to be a problem with the `IPPRecurringTransaction` class, I was debugging to see if I could better understand what was happening and this is what I got

[code]